html {
  --primary-color: rgb(156, 39, 176);
}

header,
footer,
main {
  width: 100%;
  max-width: 704px;
  padding: 16px;
  margin-left: auto;
  margin-right: auto;
}

a,
a:visited {
  color: var(--primary-color);
  text-decoration: none;
}

a:hover {
  box-shadow: 0 1px 0 0 currentColor;
}

article > p > a > img,
article > p > img {
  display: block;
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
}

:not(pre) > code {
  background-color: rgba(0, 0, 0, 0.1);
  color: var(--primary-color);
  padding: 0 3px;
}
